
h1{
    color: red;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: rgb(88, 88, 88);
    color: azure;
}
#paragraphe{
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
}
a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
img{
    width : 200px;
    height : 250px;

}
th{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 800px;
}
